* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.icon {
    width: 22px;
    vertical-align: bottom;
    user-select: none;
}

.main {
    margin: 10px 80px;
}

.main > * {
    margin: 14px 0;
}

.ciclistas {
    margin: 0 20px;
}

.ciclistas li {
    margin: 5px 0;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 5px;
}

tr:first-child {
    background-color: #333;
    color: white;
}

tr:nth-child(2n + 3) {
    background-color: #eee;
}

td:first-child {
    font-weight: bold;
}