* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 60px;
}

form {
    margin: 20px 0;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

input[type=text] {
    height: 25px;
}

input[type=submit] {
    justify-self: center;
    height: 25px;
    width: 50%;
}