<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/polls/">Encuestas</a>
        </nav>
    </header>
    <main class="main">
        <h2>{{ question }}</h2>

        <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>