* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.questions {
    width: 800px;
}

.form {
    width: 800px;
}

ul {
    margin-left: 20px;
}

.imagen {
    width: 200px;
    height: 140px;
    background-image: url('images/09img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}